[unit]
Description=clash
After=multi-user.target
[Service]
TimeoutStartSec=30
ExecStart=<|PLACEHOLD_1|>/clash/clash -d clash/configs
WorkingDirectory=<|PLACEHOLD_2|>
ExecStop=/bin/kill $MAINPID
Restart=always
RestartSec=10s
[Install]
WantedBy=multi-user.target